[Desktop Entry]
Name=Audio Source Switcher
Comment=Manage audio sinks and Bluetooth devices
Exec=python3 /home/nverenin/git/ag-scripts/select-audio-source/select_audio.py
Icon=audio-card
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
Keywords=audio;sound;pulse;bluetooth;
StartupNotify=true
